/* Common styles for all headers */
.header {
    position: relative;
    z-index: 1000;
  }

  .nav-item {
    font-family: "Josefin Sans", sans-serif;
  }
  
  .Logo {
    width: 50px;
    height: 50px;
  }
  
  .divider {
    margin: 0 20px;
  }
  
  /* Styles for the home page header */
  .home-header {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
  }
  
  .home-header .text-white {
    color: white;
  }
  
  /* Styles for other pages (gallery, etc.) */
  .other-header {
    background-color: white;
  }
  
  .other-header .text-black {
    color: black;
  }

  .navbar-brand {
    font-family: "Abril Fatface", serif;
  }

  .navbar-toggler {
    color: white;
  }

  .navbar-toggler-icon {
    color: white;
  }

  .contact-info {
    font-family: "Josefin Sans", sans-serif;
  }

  @media (width < 500px) {
    .navbar-brand {
      font-size: 15px;
    }

    .navbar-toggler {
      color: white;
    }

    .navbar-toggler-icon {
      color: white;
    }
  }

  