/* Common header styling */
.header {
  position: relative;
  z-index: 1000;
  background-color: black !important;
}

.nav-item {
  font-family: "Josefin Sans", sans-serif;
}

.Logo {
  width: 60px;
  height: 60px;
}

.divider {
  margin: 0 20px;
}

/* Make everything white */
.navbar,
.navbar a,
.navbar-brand,
.nav-link,
.contact-info,
.contact-info p {
  color: white !important;
}

.nav-link:hover {
  color: #f0ad4e !important; /* optional gold hover */
}

/* Navbar brand font */
.navbar-brand {
  font-family: "Abril Fatface", serif;
}

/* Toggler icon color */
.navbar-toggler {
  color: white !important;
  border: none;
}

.navbar-toggler-icon {
  color: white !important;
}

.contact-info {
  font-family: "Josefin Sans", sans-serif;
}

/* Mobile adjustments */
@media (width < 500px) {
  .navbar-brand {
    font-size: 15px;
  }

  .navbar-toggler {
    color: white !important;
  }

  .navbar-toggler-icon {
    color: white !important;
  }
}
