.card-wrapper {
  padding: 15px;
  margin: 0 10px; /* Add horizontal margin to create space between cards */
}

.card {
  background-color: #f8fdee; /* Green background */
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  transition: all 0.3s ease-in-out;
}

/* Apply blur effect to cards that are not in the middle */
.card-wrapper:not(.middle-card) .card {
  filter: blur(2px);
  opacity: 0.5;
}

.card p {
  font-size: 1.1rem;
  color: #333;
  margin: 10px 0;
}

.card .ri-double-quotes-l {
  font-size: 1.5rem;
  color: #888;
}

.card .ri-star-fill {
  color: #FFD700;
  font-size: 1.5rem;
}

.card hr {
  margin: 10px 0;
}

.name {
  font-size: 1rem;
  font-weight: bold;
  color: #0e0e0e;
}

/* Carousel Dots */
.slick-dots li button:before {
  font-size: 12px;
  color: #333;
}

.slick-prev, .slick-next {
  color: #333;
}

.slick-prev:before, .slick-next:before {
  font-size: 24px;
  color: #333;
}

/* Adjust arrow position */
.slick-prev {
  left: -35px;
}

.slick-next {
  right: -35px;
}

/* Effect for the middle card without hover */
.middle-card .card {
  transform: scale(1.05);
  background-color: #f8fdee;
  filter: none;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

/* Responsive for small screens */
@media (max-width: 576px) {
  .card {
    padding: 15px;
    font-size: 1rem;
  }
  
}

.icon-color{
  color:#8ac027
}